:root {
    --border:#e1e4e8;
    --background:#f6f8fa;
    --font:#211F1F;
}
* {
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.intro {
    animation-name: example;
    animation-fill-mode: forwards;
    animation-delay: 3.3s;
    animation-duration: 1s;
    position:fixed;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding:0;
    background-color: #fff;
    width:100vw;
    height:100vh;;
    font-weight: bolder;
    font-family: roboto, sans-serif;
    color: #422675;
    z-index: 1;
    

    
}

.new-button {
    padding:.25em 1em; 
    border-radius: 5px;
    border:1px solid green;
    background:lightgreen;
    margin:0 1em;
    color: #142209;
    background-image: linear-gradient(-180deg,lightgreen, #74e086 90%);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}

  @keyframes example {
      0% {height: 100vh;}
      100%{height:0vh;}
  }
  
.intro h1{
    color:#422675;
    animation-name: h1animate;
    animation-fill-mode: forwards;
    animation-delay:1.5s;
    animation-duration:1s;
    margin:0;
    padding:0;
    font-size: 2.5em;
    text-align:center;
}

@keyframes h1animate {
    0% {opacity: 1;}
    100%{opacity: 0;}
}

.intro p {
    color:#422675;
    animation-name: p1animate;
    animation-fill-mode: forwards;
    animation-duration:0.7s;
    animation-delay:2s;
    text-align: center;
    font-size:1.1em;
}

@keyframes p1animate {
    0% {transform: translateY(0);}
    100%{ transform: translateY(-9vh);}
}

body {
   background: var(--background);
   
}

.what-is-github {
   
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    position: relative;
    height:25vh;
}
.what-is-github h1 {
    margin:0;
    padding:0;
}

h1 {
    font-size: 4em;
    margin-top:1.5em;
    color: var(--font);
    text-transform: uppercase;
}

.github-icon {
width:50px;
color:black;
cursor: pointer;
}

header {
    margin-bottom:5em;
    margin-top:1em;
    display:flex;
    flex-direction: row;
    justify-items: baseline;
    justify-content: baseline;
    align-items: center;
}

header p {
    position: absolute;
    right: 300px;
    color:black;
    cursor: pointer;


}

p {
    font-size:1.3em;
    line-height: 2.5em;
}

.wrapper {
margin:2em 300px;
}

ul {
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
    
    
}

ul li a {
    font-size: 1.2rem;
    color:gray;
    line-height: 18px;


}


li img {
    width:15px;
    margin:0 1em;

}

main {
    margin-top:1em;
}


main p, ul {
    padding:0;
}

.below-box-text {
    text-align: center;
    color:var(--font);
}


.breaker {
    width:100%;
    height:1px;
    background: var(--border);
    margin:1em 0;
}



span {
    text-align: center;
    margin:0 1em;
    font-size: 19px;
    color:gray;
    font-weight: bolder;

}

.link-github {
    text-align: justify;
    margin:0;

}

.link-github em {
    color:#422675;
    background:#e7b6fa;
    padding:0;
    margin:0;
}

.highlight {
    color:#422675;
    padding:0;
    margin:0;
}

.list {
    margin:1em 30em 0 0;
}

.listcover {
    background:#e1e4e8;
    border-radius: 10px;
    margin-top:2em;
    padding:1em;
}




.repository {
    font-weight: bolder;
    text-decoration: underline;
}

 button {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}

input {
    padding:6px 12px;
    margin-left:.5em;
    pointer-events: none;
}

.buttondesign {
margin-top:1em;
height:34px;

}


.anime-input-p {
    position:relative;
    pointer-events: none;
    top:-33px;
    left:130px;
    animation: type 1s steps(13);
    overflow: hidden;
    white-space: nowrap;
    opacity:0;
    animation-fill-mode: forwards;
    font-size: 1.1em; 
    animation-delay: 5s;
    line-height:1.7em;
    
}




@keyframes type {
    0% {
        opacity:1;
        width:0ch;
    }
    100% {
        opacity:1;
        width:13ch;
    }
}



.step-description {
    padding:0;
    margin:0;
    font-size:1.1em;
}

.step-title {
    margin:0;
    padding:0;
    font-size:2em;
    font-weight: bolder;
}

.steps {
    animation-name: scroll;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background:#fff;
    border:1px solid var(--border);
    border-radius: 10px;
    padding:50px;
    height:auto;
}

@keyframes scroll {
    0%{
        opacity:0;
        transform:translateY(15%);
    }
    100% {
        transform: translateY(0%);
    }
}
